<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892302063818-amcdfrc051aqmge1fiprkqcqlq04k7ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892302063818-amcdfrc051aqmge1fiprkqcqlq04k7ev</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>892302063818-11r3n6pemcj79ipjrb98ojul11402l79.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLqZ9KqNVXsSk3tKdRKDkuxcWsdM9eSQY</string>
	<key>GCM_SENDER_ID</key>
	<string>892302063818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oculo</string>
	<key>PROJECT_ID</key>
	<string>oculo-web</string>
	<key>STORAGE_BUCKET</key>
	<string>oculo-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892302063818:ios:062a171edd65b6d0e95c33</string>
</dict>
</plist>